---
// Misaka Network - Tag Component
export interface Props {
  tag: string;
  href?: string;
}

const {tag, href = `/tags/${tag}`} = Astro.props;
---

<a href={href} class="tag-misaka no-underline">
  #{tag}
</a>
